---
---
<div class="section relative overflow-hidden bg-white" id="contact">
  <div class="section-title-vertical right-side"><span>Contact</span></div>

  <div class="relative z-[5] flex flex-wrap">
    <!-- left: contact info -->
    <div class="w-full lg:w-1/2 !p-0 !m-0">
      <div class="contact-container contact-reset relative w-full h-[50vh] lg:h-screen !p-0 !m-0 bg-white text-center">
        <div class="center-container">
          <div class="center-block">
            <p class="m-0 px-[25px] text-[#5f5f5f] 2xl:px-[150px] lg:px-[55px]">
              <span class="block text-[16px] font-bold mb-[12px] sm:text-[18px] md:text-[20px] lg:text-[28px] xl:text-[40px] xl:mb-[22px] lg:mb-[32px]">
                <a class="link-underline link-underline-dark text-[#5f5f5f]" href="mailto:Prophotogr5@gmail.com">Prophotogr5@gmail.com</a>
              </span>
              <span>Athens, Greece<br/><a class="link-underline link-underline-dark text-[#5f5f5f]" href="tel:6940115915">6940115915</a></span>
            </p>

            <!-- form launcher -->
            <div class="relative w-[280px] h-auto mx-auto my-[14px] mb-[10px] leading-[1.5] 2xl:my-[24px] 2xl:mb-[20px] lg:my-[24px] lg:mb-[20px] md:w-[350px]">
              <a class="button-link contact-modal-launcher">
                <span>Use the form</span>
                <i class="ion-android-arrow-dropright"></i>
              </a>
            </div>

            <!-- cv download -->
            <div class="relative w-[280px] h-auto mx-auto my-[0px] mb-[30px] leading-[1.5] 2xl:mb-[40px] lg:mb-[40px] md:w-[350px]">
              <a class="button-link" href="/cv.pdf" download>
                <span>Download CV</span>
                <i class="ion-android-download"></i>
              </a>
            </div>

            <!-- contact social icons -->
            <div class="relative mt-[29px] mx-auto 2xl:mt-[39px] lg:mt-[39px]">
              <ul class="text-[16px] leading-none relative">
                <li class="inline-block pl-[5px]"><a class="ion-social-facebook text-[#5f5f5f] hover:opacity-50 transition-all duration-500 no-underline" href="https://www.facebook.com/p/Pro_photo_gr-100077780100902/" target="_blank" rel="noopener noreferrer"></a></li>
                <li class="inline-block pl-[5px]"><a class="text-[#5f5f5f] hover:opacity-50 transition-all duration-500 no-underline inline-flex items-center" href="https://www.tiktok.com/@m_ioannis_" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 448 512"><path d="M448 209.9a210.1 210.1 0 01-122.8-39.3v178.8A162.6 162.6 0 11185 188.3v89.9a74.6 74.6 0 1052.2 71.2V0h88a121 121 0 00122.8 120.1z"/></svg></a></li>
                <li class="inline-block pl-[5px]"><a class="ion-social-instagram text-[#5f5f5f] hover:opacity-50 transition-all duration-500 no-underline" href="https://www.instagram.com/pro_photo_gr_/" target="_blank" rel="noopener noreferrer"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right: contact image -->
    <div class="w-full lg:w-1/2 !p-0 !m-0">
      <div class="overlay overlay-inverse-dark-35 relative">
        <div class="relative w-full h-[50vh] lg:h-screen">
          <div class="h-[50vh] lg:h-screen bg-cover bg-center bg-no-repeat lg:absolute lg:w-[50vw] lg:h-auto lg:top-0 lg:bottom-0 sm:min-h-[350px]" style="background-image: url('/img/ME 45T copy.jpg')"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- contact modal -->
  <div class="contact-modal">
    <div class="max-w-[1140px] mx-auto px-[15px]">
      <div class="absolute table h-full w-full left-0 top-0 bg-transparent">
        <div class="table-cell align-middle">
          <!-- heading -->
          <div class="pt-[35px] lg:pt-[73px]">
            <div class="w-full">
              <h2 class="font-oswald text-[28px] font-normal uppercase tracking-wide text-[#111] leading-[1.25] pb-[5px] text-center md:text-[35px] lg:text-[40px] md:pb-[4px]">Get in touch</h2>
              <p class="text-[10px] font-bold uppercase tracking-wide text-[#5f5f5f] text-center leading-[1.5]">Promise, we won't stay silent</p>
            </div>
          </div>

          <!-- form -->
          <div class="relative w-[90%] mx-auto">
            <div class="w-full">
              <div id="contact-form">
                <form id="form" name="send">
                  <div class="grid grid-cols-1 md:grid-cols-3 gap-x-4">
                    <div class="relative">
                      <input class="requiredField name" id="name" name="name" placeholder="Name" type="text" />
                    </div>
                    <div class="relative">
                      <input class="requiredField email" id="email" name="email" placeholder="Email" type="text" />
                    </div>
                    <div class="relative">
                      <input class="requiredField subject" id="subject" name="subject" placeholder="Subject" type="text" />
                    </div>
                  </div>
                  <div class="mx-[15px]">
                    <textarea class="requiredField message" id="message" name="message" placeholder="Message"></textarea>
                  </div>
                  <div>
                    <button class="c-btn fullwidth-liquid" id="submit" type="submit">
                      <span>Submit</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- closer -->
          <div class="pb-[35px] lg:pb-[69px]">
            <div class="w-full">
              <div class="contact-modal-closer relative w-[50px] h-auto mt-[43px] mx-auto text-[20px] text-center text-[#111] cursor-pointer">
                <span class="ion-close"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer credit -->
  <div class="absolute bottom-[15px] left-[20px] z-[5] lg:left-[51px]">
    <span class="text-[11px] uppercase tracking-wide font-bold text-[#5f5f5f]">Developed by <a class="link-underline link-underline-dark text-[#5f5f5f]" href="https://210designs.com" target="_blank" rel="noopener noreferrer">210Designs</a></span>
  </div>
</div>
