---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import HeroSection from '../components/sections/HeroSection.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import ServicesSection from '../components/sections/ServicesSection.astro';
import WorksSection from '../components/sections/WorksSection.astro';
import NewsSection from '../components/sections/NewsSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
---
<Layout title="Prophotogr">
  <!-- preloader -->
  <div class="preloader-bg"></div>
  <div id="preloader">
    <div id="preloader-status">
      <div class="preloader-position loader"><span></span></div>
    </div>
  </div>

  <!-- logo -->
  <a class="logo fixed inline-block top-[5px] left-[15px] leading-[0] cursor-pointer z-[200] transition-all duration-300 ease-smooth md:left-[25px] lg:top-[10px] lg:left-[50px]">
    <div class="logo-img fadeIn-element">
      <img src="/Sticker_7x7-converted-from-png.svg" alt="Prophotogr Logo" class="w-auto h-[60px] md:h-[70px] lg:h-[89px]" />
    </div>
  </a>

  <!-- navigation -->
  <div class="navigation-fire navigation-icon-wrapper fadeIn-element fixed w-[35px] h-[25px] top-[17px] right-[15px] cursor-pointer z-[99998] md:right-[25px] lg:top-[42px] lg:right-[50px]">
    <div class="navigation-icon" id="navigation-icon">
      <span class="line block w-[35px] h-[3px] my-[8px] mx-auto transition-all duration-300 ease-in-out bg-white"></span>
      <span class="line block w-[35px] h-[3px] my-[8px] mx-auto transition-all duration-300 ease-in-out bg-white"></span>
      <span class="line block w-[35px] h-[3px] my-[8px] mx-auto transition-all duration-300 ease-in-out bg-white"></span>
    </div>
  </div>

  <nav class="navigation-menu">
    <div class="navigation-menu-img-wrapper">
      <div class="navigation-menu-img">
        <div class="menu-img active" style="background-image: url('/img/portrait/exofilo.jpg')" data-ref="menu-1"></div>
        <div class="menu-img" style="background-image: url('/img/art/exofilo.jpg')" data-ref="menu-2"></div>
        <div class="menu-img" style="background-image: url('/img/product/exofilo.jpg')" data-ref="menu-3"></div>
        <div class="menu-img" style="background-image: url('/img/event/2024-03-16 15.41.46.jpg')" data-ref="menu-4"></div>
        <div class="menu-img" style="background-image: url('/img/couple photography/exofilo.jpg')" data-ref="menu-5"></div>
      </div>
      <div class="center-container-menu">
        <div class="center-block-menu">
          <div class="navigation-menu-txt">
            <ul class="menu brackets">
              <li><a class="menu-state active" data-ref="menu-1" href="#home">Home</a></li>
              <li><a class="menu-state" data-ref="menu-2" href="#about">About</a></li>
              <li><a class="menu-state" data-ref="menu-3" href="#services">Services</a></li>
              <li><a class="menu-state" data-ref="menu-4" href="#works">Works</a></li>
              <!-- <li><a class="menu-state" data-ref="menu-5" href="#news">News</a></li> -->
              <li class="last"><a class="menu-state" data-ref="menu-5" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- fullpage container -->
  <div class="fullpage-container" id="fullpage">
    <HeroSection />
    <AboutSection />
    <ServicesSection />
    <WorksSection />
    <!-- <NewsSection /> -->
    <ContactSection />
  </div>
</Layout>
